

.box {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;

  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.box blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);

}

.box-large {
  padding: 24px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.box-small {
  padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

}


.band{
	width:100%;

}

.box-light-gray{
	background-color: #f5f5f5;
}

.box-white{
  background-color: white;
}
.box-deffined-height{
  /* height: 300px; */
}


.errorlist li{
  margin-left: -23px;
  font-size: 12px;
  display: inline;
  background-color: #b94a48;
  color:white;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.form-block {
    background: none repeat scroll 0% 0% rgb(235, 235, 235);
    padding: 10px;
    padding-top: 5px;
    padding-right: 25px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(211, 211, 211);
    margin-top: 10px;
}


.user-dropdorwn-menu {
    
    opacity:1.0 !important;
    -moz-opacity: 1.0 !important;
    filter: alpha(opacity=100) !important; 
    
    
}

.required_field{
    font-weight: bold;
}

/*
h3 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
}
*/
